@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .max-width {
    @apply max-w-[1440px] mx-auto;
  }
  
.see-outline {
    @apply border border-blue-900
}

.form-input {
  @apply block w-full px-4 py-3 border border-davys_gray-800 rounded-md text-sm shadow-sm focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
}

.footer-icons {
  @apply size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border text-davys_gray hover:bg-lime-300 disabled:opacity-50 disabled:pointer-events-none
}